{% extends '@App/layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <article>
        <h1>{{ product.title }}</h1>

        <div class="product-content">
            {% if product.content %}
                {{ product.content|raw }}
            {% endif %}
        </div>

        <div class="gallery">
            <p class="heading">{{ 'gallery.heading'|trans }}</p>
            {% for picture in product.pictures.galleryHasMedias %}
                <a href="{% path picture.media, 'big' %}" data-lightbox="gallery" data-title="{{ product.title }}">
                    <img src="{% path picture.media, 'small' %}" alt="{{ product.title }}">
                </a>
            {% endfor %}
        </div>
        <div class="clear"></div>
    </article>
    {{ render(controller('AppBundle:Inquiry:index', {'product': product})) }}
{% endblock %}
