<!DOCTYPE html>
<html>

<head>
    {% if not isDev %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_account }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ ga_account }}', { 'anonymize_ip': true });
        </script>
        <!-- Hotjar Tracking Code for npp-nps.com -->
        <script>
          (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:{{ hotjar_id }},hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
          })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>

    {% endif %}

    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% set alternates = {
        'en': 'https://npp-nps.com' ~ path(
            app.request.attributes.get('_route')|default('app'),
            app.request.attributes.get('_route_params')|default({})|merge({'_locale': 'en'})
        ),
        'ua': 'https://npp-nps.com' ~ path(
            app.request.attributes.get('_route')|default('app'),
            app.request.attributes.get('_route_params')|default({})|merge({'_locale': 'ua'})
        ),
        'ru': 'https://npp-nps.com' ~ path(
            app.request.attributes.get('_route')|default('app'),
            app.request.attributes.get('_route_params')|default({})|merge({'_locale': 'ru'})
        ),
    } -%}
    <link rel="alternate" hreflang="en" href="{{ alternates['en'] }}">
    <link rel="alternate" hreflang="ua" href="{{ alternates['ua'] }}">
    <link rel="alternate" hreflang="ru" href="{{ alternates['ru'] }}">
    {% stylesheets
        'bundles/app/css/style-blue.css'
        'bundles/app/css/lightbox.css'
    -%}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets -%}

    {% if product|default and product.currentTranslation.noindex -%}
        <meta name="robots" content="noindex">
    {% endif -%}

    <script type="text/javascript">
        var currentProductTitle = '{{ product|default(title) }}';
    </script>

    {% javascripts
        'bundles/app/js/html5.js'
        'bundles/app/js/jquery.js'
        'bundles/app/js/lightbox.js'
        'bundles/app/js/global.js'
        'bundles/app/js/inquiry.js'
    -%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts -%}

    <script type="text/javascript" charset="utf-8">
        lightbox.option({
            'resizeDuration': 200,
            'alwaysShowNavOnTouchDevices': true
        })
    </script>

    <meta name="description" content="{{ meta|default('') }}">
</head>

<body>

    {% if not app.request.cookies.get('cookie_consent') %}
        <div id="cookie-consent">
            <div class="inner">
                <div class="text">
                    {{ 'cookie_consent.text'|trans|raw }}
                </div>

                <div class="button">
                    <button>{{ 'cookie_consent.button'|trans }}</button>
                </div>
            </div>
        </div>
    {% endif %}

    <div id="wrapper">

        <header>
            <h1><a href="{{ path('app_default') }}">{{ 'home.header.link'|trans|raw }}</a></h1>
            <h2>{{ 'home.header.title'|trans }}</h2>
            <div class="language-switcher">
                <br>
                <a class="{% if app.request.attributes.get('_locale') == 'en' %}selected{% endif %}" href="{{ path(app.request.attributes.get('_route')|default('app'), app.request.attributes.get('_route_params')|default({})|merge({'_locale': 'en'})) }}">english</a> |
                <a class="{% if app.request.attributes.get('_locale') == 'ua' %}selected{% endif %}" href="{{ path(app.request.attributes.get('_route')|default('app'), app.request.attributes.get('_route_params')|default({})|merge({'_locale': 'ua'})) }}">українська</a> |
                <a class="{% if app.request.attributes.get('_locale') == 'ru' %}selected{% endif %}" href="{{ path(app.request.attributes.get('_route')|default('app'), app.request.attributes.get('_route_params')|default({})|merge({'_locale': 'ru'})) }}">русский</a>
            </div>

            {% if isHomepage is not defined %}
                {{ knp_menu_render('AppBundle:Builder:topMenu') }}
                <i class="menu"></i>
            {% endif %}
        </header>

        <div id="content">

            {% block content %}
            {% endblock %}

        </div><!-- div#content -->


    </div><!-- div#wrapper -->

    <div class="clear"></div>

    <footer>
        <div class="inner">
            <address>{{ 'home.footer.address'|trans|raw }}</address>
        </div>
    </footer>

</body>

</html>
