<section id="inquiry">
    {% if type is defined and type == 'contact' %}
        <h1>{{ 'contact.inquiry_title'|trans }}</h1>
        <h2>{{ 'contact.inquiry_explanation'|trans }}</h2>
    {% else %}
        <h1>{{ 'products.inquiry.title'|trans }}</h1>
        <h2>{{ 'products.inquiry.explanation'|trans }}</h2>
    {% endif %}
    <form method="post">
        <label for="email">{{ 'products.inquiry.email_label'|trans }} (*)</label>
        <input required id="email" type="text" name="email" placeholder="{{ 'products.inquiry.email_placeholder'|trans }}">

        <input type="hidden" name="locale" value="{{ app.request.attributes.get('_locale') }}">
        <input type="hidden" name="product" value="{{ product.title }}">

        <label for="text">{{ 'products.inquiry.text_label'|trans }} (*)</label>
        <textarea required id="text" name="text" placeholder="{{ 'products.inquiry.text_placeholder'|trans }}"></textarea>

        <br><br>
        <p>(*) {{ 'products.inquiry.required'|trans }}</p>

        <button class="submit">{{ 'products.inquiry.send_button'|trans }}</button>
    </form>
</section>
<section id="inquiry-result">
    <h1>{{ 'products.inquiry.success_h1'|trans }}</h1>
    <h2>{{ 'products.inquiry.success_h2'|trans }}</h2>
</section>
